<mat-toolbar  class="mat-elevation-z8 header__navbar">
    <span>AppUsers</span>
    <span class="header__navbar__space"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Users</button>
    <button mat-button routerLink="/dashboard/reportes">Menu</button>
    <span class="header__navbar__space"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>