$primary-color: #E91E63;
$second-color: #0db14b;
$white: #FFFFFF;
$black: #473b3b;
$red: #F20909;
$second-color-pressed: #cb2159;
$red-pressed: #C70606;
$blue-pressed: #118587;
$gray: #C2C2C2;
$theme-color:  #E91E63;
$bg-color: #303030;
